  <nav class="navbar navbar-expand-md fixed-top navbar-dark " style="background-color:#15181f;position:sticky;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/home" style=" padding-left:25px; font-size: 1.5em;color:white">David Bajollari</a>
        <body data-bs-spy="scroll" data-bs-target="#navbarText"></body>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" >
          <span class="navbar-toggler-icon" ></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText" name="navbarText">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0" role="tablist" >
            <li class="nav-item">
              <a class="nav-link" href="/home#about"  style="color:white;" (click)="collapseNav()">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/home#experience" style="color:white;" (click)="collapseNav()">Resume</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/home#projects" style="color:white;" (click)="collapseNav()">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact" style="color:white;" (click)="collapseNav()">Contact Me</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
