  <nav class="navbar fixed-top navbar-expand-lg navbar-dark " style="background-color:#15181f">
      <div class="container-fluid">
        <a class="navbar-brand" href="#home" style=" padding-left:25px; font-size: 1.5em;color:white">David Bajollari</a>
        <body data-bs-spy="scroll" data-bs-target="#navbarText"></body>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" >
          <span class="navbar-toggler-icon" ></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText" >
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0" role="tablist" >
            <li class="nav-item">
              <a class="nav-link" href="#about"  style="color:white;">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#experience" style="color:white;">Experience</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#projects" style="color:white;">Projects</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
