<div class="container-fluid" id="experience"
    style="background-color:lightgray;padding-bottom: 50px;padding-left: 20px;padding-top:90px;">
    <div class="containterpage centercontent">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="centercontent">Education</h1>
                    <div>
                        Stevens Institute of Technology, Hoboken, New Jersey<br>
                        2020-current (Current GPA: 3.5/4)<br>
                        - Pursuing degree in Computer Science<br>
                        Fort Lee High School , Fort Lee, New Jersey<br>
                        - High School Diploma, 2016-2020 (GPA:3.9/4.0)<br>
                    </div>

                    <br>

                    <h1 class="centercontent">Skills</h1>
                    <div>
                        Programs
                        Microsoft Office, Visual Studio, Google Drive, Metamask, Numerous DEFI Apps, Slack
                        Programming Proficiencies/Skills
                        Python, C++, Java, Data Structures, Algorithms, Solidity, Flask Microframework, Javascript,
                        HTML, CSS, Node.js, GIT, Linux command shell, MVC, Object Oriented Programming, Agile methods
                    </div>

                    <br>

                    <h1 class="centercontent">Work Exericene</h1>
                    <div>
                        <h5>Fort Lee Artist Guild, Fort Lee, New Jersey </h5>
                        - Volunteering for NonProfit Organization in Home Town(June 2019- January 2020)<br>
                        - Designed and built a website for members of Fort Lee Artist Guild <br>
                        - Built website using python, Flask web framework, HTML, CSS, and Javascript<br>
                        - Link to website:https://dbajolllari1.pythonanywhere.com/home<br>
                        - Link to github:https://github.com/dbajollari1/flag<br>
                    </div>

                    <br>

                    <div>
                        <h5>Ethereum 2.0 Valdatator, Fort Lee, New Jersey </h5>
                        - Responsible for setting up and running 12 ETH2 Validators (November 2020 - current)<br>
                        - Responsible for building a machine with Linux ubuntu. <br>
                        - Responsible for setting up ETH2 validators using the linux command shell. <br>
                        - Responsible for depositing Ethereum into validators. <br>
                        - Currently maintaining validators by pushing updates and making sure they are always running.
                        <br>
                    </div>

                    <br>

                    <div>
                        <h5>Lynx Digital Application, Fort Lee, New Jersey</h5>
                        - Managing DEFI application currently being built(December 2020 - current) <br>
                        - Responsible for writing user stories and backlogs using Jira software <br>
                        - Responsible for running biweekly meetings and managing an offshore team <br>
                        - Responsible for reviewing and testing code written in Solidity and node.js <br>
                        - Link to Proof of concept: https://arianb1.pythonanywhere.com/ <br>
                        - Link to github: https://github.com/orgs/Lynx-Digital-Organization/repositories <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>