<div class="container" id="experience" class="containterpage centercontent">
    <h1>Education</h1>
    <div>
        Stevens Institute of Technology, Hoboken, New Jersey
        2020-current (Current GPA: 3.5/4)
        Pursuing degree in Computer Science
        Fort Lee High School , Fort Lee, New Jersey
        High School Diploma, 2016-2020 (GPA:3.9/4.0)
    </div>
    <h1>Skills</h1> 
    <div>
        Programs 
        Microsoft Office, Visual Studio, Google Drive, Metamask, Numerous DEFI Apps, Slack
        Programming Proficiencies/Skills
        Python, C++, Java, Data Structures, Algorithms, Solidity, Flask Microframework, Javascript, HTML, CSS, Node.js, GIT, Linux command shell, MVC, Object Oriented Programming, Agile methods
    </div>

    <h1>Work Exericene</h1>
    <div>
        Fort Lee Artist Guild, Fort Lee, New Jersey 
        Volunteering for NonProfit Organization in Home Town(June 2019- January 2020)
        Designed and built a website for members of Fort Lee Artist Guild 
        Built website using python, Flask web framework, HTML, CSS, and Javascript
        Link to website:https://dbajolllari1.pythonanywhere.com/home
        Link to github:https://github.com/dbajollari1/flag
    </div>

    <div>
        Ethereum 2.0 Valdatator, Fort Lee, New Jersey 
        Responsible for setting up and running 12 ETH2 Validators (November 2020 - current) 
        Responsible for building a machine with Linux ubuntu. 
        Responsible for setting up ETH2 validators using the linux command shell. 
        Responsible for depositing Ethereum into validators. 
        Currently maintaining validators by pushing updates and making sure they are always running. 
    </div>

    <div>
        Lynx Digital Application, Fort Lee, New Jersey
        Managing DEFI application currently being built(December 2020 - current)
        Responsible for writing user stories and backlogs using Jira software
        Responsible for running biweekly meetings and managing an offshore team
        Responsible for reviewing and testing code written in Solidity and node.js
        Link to Proof of concept: https://arianb1.pythonanywhere.com/
        Link to github: https://github.com/orgs/Lynx-Digital-Organization/repositories
    </div>
</div>

