<div id="experience" class="lightbackground"> 
        
    <div class="resumeBody" >

        <div class="header">PROFESSIONAL SUMMARY</div>
        Computer Science undergraduate student pursuing full stack development with hands-on experience in Angular and
        NodeJS. Keen problem solver with an ability to learn quickly and apply previous experience and novel, creative solutions
        to solve problems. I am also passionate about the web3 and crypto space, with some experience with networks like
        Ethereum, languages like Solidity, and the JavaScript library Ethers.js.
        
        <p style="padding-top: 10px;"></p>
        <div class="header">SKILLS</div>
        <span class="subheader">Programming Languages:</span> Python (Proficient), C++ (Proficient), JavaScript/TypeScript (Familiar), Java (Familiar),
        Solidity(Familiar)
        <br>
        <span class="subheader">Technologies:</span> Angular, Node.js, Flask, SQLite, Git, Linux, Slack
        
        <p style="padding-top: 10px;"></p>
        <div class="header">EDUCATION</div>
        <div class="row" style="width: 100%; margin:0;">
            <span class="col-md-9 subheader">Bachelor of Science, Computer Science, Stevens Institute of Technology</span> 
            <span class="col-md-3 timeperiod">Aug 2020 - May 2024</span>
        </div>
        <div>
            <ul>
                <li>GPA: 3.6 / 4.0</li>
                <li>Honors: Edwin A. Stevens Scholarship, Dean’s List</li>
                <li>Relevant Coursework: Data Structures, Algorithms, Discrete Structures, Linear Algebra, Artificial Intelligence, Web
                    Development(2022 Fall), Databases(2022 Fall), Agile Methods for Software Development(2022 Fall)</li>
            </ul>
        </div>

        <div class="header">WORK EXPERIENCE</div>
        <div class="row" style="width: 100%;margin:0;">
            <span class="col-md-9 subheader">Computer and Cryptocurrency Consultant, Ethereum 2.0 Validators</span> 
            <span class="col-md-3 timeperiod">Nov 2020 - Current</span>
        </div>
        <div>
            <ul>
                <li>Assembled and built a machine with Linux Ubuntu operating system and set up the Ubuntu server with necessary
                    firewall and security.</li>
                <li>Implemented 12 Ethereum 2.0 Validators on the machine by connecting with the Lighthouse Client, and a Go
                    Ethereum node, all being done through the Linux command line.</li>
                <li>Coordinated and executed deposit of Ethereum into validators using the ETH2 deposit CLI and Metamask.</li>
                <li>Responsible for actively maintaining all the nodes by pushing updates to the client and machine, making sure they are
                    always up and running.</li>
            </ul>
        </div>

        <div class="row" style="width: 100%;margin:0;">
            <span class="col-md-9 subheader">Software Engineer, Fort Lee Artist Guild</span> 
            <span class="col-md-3 timeperiod">Jul 2019 - Feb 2020</span>
        </div>
        <div>
            <ul>
                <li>Designed and developed a website for members of the Fort Lee Artist Guild(a non-profit organization in my hometown)
                    using the python framework Flask.</li>
                <li>Programmed and implemented functionally for users to post announcements, create events, and post artwork with all
                    data being stored using SQLite.</li>
                <li>Programmed a payment system for membership fees and donations using the Stripe API, and created a contact page
                    that sent emails using the Mailjet API.</li>
            </ul>
        </div>

        <div class="header">PROJECTS</div>
        <div class="row" style="width: 100%;margin:0;">
            <span class="col-md-9 subheader">Personal Website</span> 
            <span class="col-md-3 timeperiod">July 2022 - Aug 2022</span>
        </div>
        <div>
            <ul>
                <li>Created a website using Angular to showcase my skills and experience, with features such as an adaptive navbar and
                    a responsive web page for all screen sizes.</li>
                <li>Portfolio site is hosted on Github pages, and the contact page works with a NodeJS server hosted on Microsoft Azure
                    web services, which calls the Mailjet API.</li>
            </ul>
        </div>

        <div class="row" style="width: 100%;margin:0;">
            <span class="col-md-9 subheader">NYC Taxi Trips</span> 
            <span class="col-md-3 timeperiod">Apr 2022 - May 2022</span>
        </div>
        <div>
            <ul>
                <li>Programmed Uniform Cost Search and A* Search in python, to find the shortest taxi trip between any two destinations,
                    on a dataset containing a list of the taxi trips made in NYC in January 2015.</li>
                <li>Implemented a timer to find which searching algorithm would perform better when finding the best path between any
                    two points.</li>
            </ul>
        </div>
        <div class="row" style="width: 100%;margin:0;">
            <span class="col-md-9 subheader">Lynx Digital</span> 
            <span class="col-md-3 timeperiod">Jan 2021 - Nov 2021</span>
        </div>
        <div>
            <ul>
                <li>Led and managed the frontend and backend teams in the implementation of the Lynx Digital Application, a DEFI
                    application built on top of the Ethereum blockchain network.</li>
                <li>Coordinated and designated tasks for the teams of offshore developers using Jira software, with communication being
                    done through Slack, and weekly meetings being held on Zoom.</li>
                <li>Tested and reviewed code written in NodeJS and Solidity.</li>
            </ul>
        </div>
    </div>

</div>