<div id="about" class="darkbackground" > 

  <div class="container">
      <div class="row">

        <div class="col-md-6" style="text-align: center;">
          <h2>About Me</h2>
          <h1>Hello I am David Bajollari!</h1>
          <div style="margin:20px;padding:0 20px;"> I am a 3rd year student at Stevens Institute of Technology where I am studying Computer Science. Having done numerous projects involving web development, aritificial intellinge, and blockchain techonlogy I have grown to have a huge passion for software development and the many aspects of computer science. Some of my favorite aspects of Software Engineering include full stack development with angular and node.js, writing scripts with Python, and writing and deploying smart contracts using Solidity. Some of my hobbies outsite of computers and software inclue walking, listening to music, going to the gym, and watching soccer. Feel free to contact me through my email address below if have any questions.</div>
          <div style="margin-bottom: 20px;">
            <span style="font-size: 1.2em;margin-right:5px;">dbajollari1@gmail.com</span>
            <i class="fa fa-envelope fa-2xl fa-fw change-color"></i>
          </div>
        </div>

        <div class="col-md-6" style="text-align: center; overflow: hidden;">
          <img src="../../../assets/images/about.jpg"  width="340" height="350" style="margin-bottom:30px; margin-top: 40px;">
        </div>

  </div> 

</div>