<div id="about" class="containterpage centercontent">
    <div class="container">
        <div class="row">
          <div class="col">
            <h1>Hello I am David Bajollari</h1>
            <p> I am a 3rd year student at Stevens Institute of Technology where I am studying Computer Science. Having done numerous projects involving web development, aritificial intellinge, and blockchain techonlogy I have grown to have passion for software development and the many aspects of computer science. Some of my favorite aspects of Software Engineering tools are full stack development with angular and node.js, writing scripts with Python, and writing and deploying smart contracts using Solididty. Some of my hobbies of mine inclue walking, listening to music, going to the gym, and watching soccer. Feel free to contact me through my email address below if have any questions</p>
          </div>
          <div class="col">
            <img src="../../../assets/images/about.jpg"  width="400" height="400">
          </div>
    </div>
</div>

