<div id="home" class="container-fluid image1" >
    <div style="overflow: hidden;">   
        <ng-particles [id]="id" [options]="particlesOptions" [particlesInit]="particlesInit"
        (particlesLoaded)="particlesLoaded($event)"></ng-particles>
    
        <div class="mainpage">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div style="color:#E9EBE2; ">
                        <div style=" font-weight: 700; font-size: 2.5em; margin: 0;"  class="text-center">
                            Welcome!
                        </div>
                        <div style="font-weight: 600;margin: 20px; font-size: 1.2em;" class="text-center">My name is David Bajollari and I am currently studying Computer Science at Stevens Institute of Technoloy. 
                            Take a look at all my projects and experience below.
                        </div>
                        
                        <div class="text-center" > 
                            <a href="https://github.com/dbajollari1"><i class="fa-brands fa-github fa-2xl fa-fw fa-bounce change-color" style="--fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1; --fa-bounce-jump-scale-x: 1; --fa-bounce-jump-scale-y: 1; --fa-bounce-land-scale-x: 1; --fa-bounce-land-scale-y: 1; --fa-bounce-rebound: 0;--fa-animation-duration: 1s; --fa-animation-iteration-count: 4;"></i></a>
                            <a href="https://www.linkedin.com/in/david-bajollari"><i class="fa-brands fa-linkedin fa-2xl fa-fw fa-bounce change-color" style="--fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1; --fa-bounce-jump-scale-x: 1; --fa-bounce-jump-scale-y: 1; --fa-bounce-land-scale-x: 1; --fa-bounce-land-scale-y: 1; --fa-bounce-rebound: 0; --fa-animation-duration: 1s; --fa-animation-iteration-count: 4;"></i></a>
                            <a href="https://www.twitter.com/dbajollari1"><i class="fa-brands fa-twitter fa-2xl fa-fw fa-bounce change-color" style="--fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1; --fa-bounce-jump-scale-x: 1; --fa-bounce-jump-scale-y: 1; --fa-bounce-land-scale-x: 1; --fa-bounce-land-scale-y: 1; --fa-bounce-rebound: 0; --fa-animation-duration: 1s; --fa-animation-iteration-count: 4;"></i></a>
                            <a href="/contact"><i class="fa-solid fa-envelope fa-2xl fa-fw fa-bounce change-color" style="--fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1; --fa-bounce-jump-scale-x: 1; --fa-bounce-jump-scale-y: 1; --fa-bounce-land-scale-x: 1; --fa-bounce-land-scale-y: 1; --fa-bounce-rebound: 0; --fa-animation-duration: 1s; --fa-animation-iteration-count: 4;"></i></a>
                        </div>    
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            
        </div>

    </div>

</div>

<app-about></app-about>
<app-experience></app-experience>
<app-projects></app-projects>