.image{
    /* height:40em;  */
    min-height: 100%;
    background-size:cover;
    width:auto;
    background-image:url('../../../assets/images/background.jpg');
    background-position:50% 50%;
  }

.change-color {
  font-family:FontAwesome;
  color:rgb(255, 255, 255);
}


.image1{
    height: 100%;
    background: url('../../../assets/images/background.jpg') bottom no-repeat transparent;
    background-size: cover;
}
