<div id="projects" class="containterpage centercontent">
    <p>projects works!</p>
    <div class="container" class="row">
        <div class="card" style="width: 18rem;" class="col-3">
            <img src="../../../assets/images/personalWebsite.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h1>This Website</h1>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;" class="col-3">
            <img src="../../../assets/images/lynxDigital.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h1>Lynx Digital Website</h1>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;" class="col-3">
            <img src="../../../assets/images/artGuild.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h1>Fort Lee Artist Guild Website</h1>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;" class="col-3">
            <img src="../../../assets/images/graph.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h1>Uniform Cost Search and A* Search Algorithms</h1>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>




