<div id="projects" class="darkbackground" > 

    <div class="container" >
        <div class="row ">
          
          <div class="col" >
            <h2 class="text-center">Projects</h2>
            <div  class="row justify-content-center">
                <div class="card" style="width: 18rem;" class="col-3 position-relative">
                    <img src="../../../assets/images/website.svg" class="card-img-top img-fluid img-thumbnail " height="150px" alt="..." >
                    <div class="card-body" style="color:#E9EBE2">
                        <h4>This Website</h4>
                        <p class="card-text">View all the source code for this webstie at my github repo</p>
                        <a href="https://github.com/dbajollari1/dbajollari1.github.io" class="stretched-link"></a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;" class="col-3 position-relative">
                    <img src="../../../assets/images/lynx.svg" class="card-img-top img-fluid img-thumbnail" height="150px" alt="..." >
                    <div class="card-body" style="color:#E9EBE2">
                        <h4>Lynx Digital Website</h4>
                        <p class="card-text">A cross-border digital banking platform built on the Ethereum Blockchain.</p>
                        <a href=" https://arianb1.pythonanywhere.com/" class="stretched-link"></a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;" class="col-3 position-relative">
                    <img src="../../../assets/images/artistGuild.svg" class="card-img-top img-fluid img-thumbnail" height="150px" alt="..." >
                    <div class="card-body" style="color:#E9EBE2">
                        <h4>Fort Lee Artist Guild Website</h4>
                        <p class="card-text">Volunteered to build Website for NonProfit Organization in my Home Town</p>
                        <a href="https://dbajolllari1.pythonanywhere.com/home" class="stretched-link"></a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;" class="col-3 position-relative">
                    <img src="../../../assets/images/taxi.svg" class="card-img-top img-fluid img-thumbnail" height="150px" alt="..." >
                    <div class="card-body" style="color:#E9EBE2">
                        <h4>NYC Taxi Trips</h4>
                        <p class="card-text">Performerd Uniform Cost Search and A∗ search on dataset containing a list of the taxi trips made in NYC in January 2015</p>
                        <a href="https://github.com/dbajollari1/NYC-Taxi-Trips" class="stretched-link"></a>
                    </div>
                </div>
            </div> 
          </div>

    </div>        

</div>