
<nav class="navbar ">
  <div class="container-fluid" style="margin-top:10px; font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace ;">

    <div class="row" style="margin: 2px 20px; width: 100%;">
      <div class="col">
        <i class="fa fa-file-code fa-2xl fa-fw change-color"></i>
      </div>
      <div class="col" style="text-align: right;">
        <a href="https://github.com/dbajollari1"><i class="fa-brands fa-github fa-2xl fa-fw change-color"></i></a>
        <a href="https://www.linkedin.com/in/david-bajollari"><i class="fa-brands fa-linkedin fa-2xl fa-fw change-color"></i></a>
        <a href="https://www.twitter.com/dbajollari1"><i class="fa-brands fa-twitter fa-2xl fa-fw change-color"></i></a>
      </div>
      
    </div>

    <div class="row" style="margin: 10px 20px; width: 100%;">
      <div class="col">
        Thank you for looking at my site. You can view all the source code at my <a href="https://github.com/dbajollari1/dbajollari1.github.io">github</a>.
      </div>
      <div class="col" style="text-align: right;">
          <p> © 2022 David Bajollari.</p>
      </div>
    </div>

  </div>
</nav>

